@keyframes text {
  0% {
    color: red;
  }
  30% {
    color: green;
  }
  70% {
    color: blue;
  }
}

@keyframes image {
  0% {
    height: 260px;
  }
  50% {
    height: 310px;
  }
}

.title {
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  animation: text 0.9s linear infinite;
}

.img {
  display: block;
  width: 100%;
  height: 260px;
  object-fit: cover;
  animation: image 0.9s linear infinite;
}
